body,html {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("image/main-bg/main_bg.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  background-color: RGBA(36,34,21, 0.6);
}
.navbar-brand {
  font-size: 72px;
}
#brand {
  background-image: url("reward.png");
  height: 72px;
}
.nav-link {
  font-size: 48px;
}

#main-text {
  font-size: 72px;
}

#main-button {
  margin : 0px auto;
  font-size: 48px;
  background: RGBA(0, 0, 0, 0.1);
}
#main-button:hover {
  color:#ecf0f1;
  background:RGBA(0, 0, 0, 0.8);
}
@media (max-width : 992px) and (min-width: 768px) {
  .navbar-brand {
    font-size: 48px;
  }
  .nav-link {
    font-size: 24px;
  }
  #main-text {
    font-size: 48px;
  }
  #main-button {
    margin : 0px auto;
    font-size: 36px;
    color:#ecf0f1;
    background: RGBA(0, 0, 0, 0.8);
  }
  #main-button:hover {
    color: snow;
    background:RGBA(0, 0, 0, 0.5);
  }
}
@media (max-width : 1200px) and (min-width: 992px) {
  .navbar-brand {
    font-size: 56px;
  }
  .nav-link {
    font-size: 36px;
  }
  #main-text {
    font-size: 48px;
  }
  #button-text{
    font-size: 30px;
  }
}
/* in phone we will change background */
@media (max-width : 767px) {
  body {
    background-image: url(image/main-bg/main-sm-bg.svg);
  }
  hr {
    color:white;
  }
  .navbar-brand {
    font-size: 36px;
  }
  .nav-link {
    font-size: 24px;
  }
  #main-text {
    font-size: 40px;
    color: white;

  }
  #main-button{
    font-size: 36px;
    color: white;
    background-color: RGBA(0, 0, 0, 0.6);
  }
}